<div>
  <div class="row">
    <div class="bord col-1"></div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(1)" [ngClass]="{selectionne:estSelectionne(1)}">1</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(2)" [ngClass]="{selectionne:estSelectionne(2)}">2</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(3)" [ngClass]="{selectionne:estSelectionne(3)}">3</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(4)" [ngClass]="{selectionne:estSelectionne(4)}">4</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(5)" [ngClass]="{selectionne:estSelectionne(5)}">5</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(6)" [ngClass]="{selectionne:estSelectionne(6)}">6</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(7)" [ngClass]="{selectionne:estSelectionne(7)}">7</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(8)" [ngClass]="{selectionne:estSelectionne(8)}">8</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(9)" [ngClass]="{selectionne:estSelectionne(9)}">9</div>
    <div class="bouton-chiffre col-1" (click)="selectionChiffre(-1)" [ngClass]="{selectionne:estSelectionne(-1)}">Suppr</div>
    <div class="bord col-1"></div>
  </div>
</div>
