
.bouton-chiffre {
  background-color: aqua;
  padding: 10px;
  margin: 5px;
}

.valeur {
  font-size: 2.5em;
}

.bord {
  /*background-color: aqua;*/
}

.selectionne {
  background-color: aquamarine;
}

.nb-restant {
  font-size: small;
}
