<div>
  <div class="d-flex justify-content-center">
    @for (chiffre of listeChiffre; track chiffre) {
      <div
        class="bouton-chiffre d-flex flex-column"
        (click)="selectionChiffre(chiffre)"
      [ngClass]="{
        selectionne: estSelectionne(chiffre),
        desactive: nombreRestant(chiffre) === 0
      }">
        <div class="d-flex justify-content-end m-0">
          <span class="nb-restant">{{ nombreRestant(chiffre) }}</span>
        </div>
        <div class="valeur">{{ chiffre }}</div>
      </div>
    }
    <div
      class="bouton-chiffre valeur"
      (click)="selectionChiffre(-1)"
      [ngClass]="{ selectionne: estSelectionne(-1) }">
      X
    </div>
  </div>
</div>
