$taille-case: 70px;

$taille-fonte: 2em;

td {
  width: $taille-case;
  height: $taille-case;
  text-align: center;
  vertical-align: middle;
  font-size: $taille-fonte;
  /*border-left-style: double;*/
  /*border: 4px double blue;*/
}

.non-modifiable {
  background-color: #ccffff;
}

.modifiable {
  background-color: #ffffcc;
}

.premier-bord {
  border-left-width: 8px;
}

.dernier-bord {
  border-right-width: 8px;
}

.premier-bord-haut {
  border-top-width: 8px;
}

.dernier-bord-bas {
  border-bottom-width: 8px;
}

.case-selectionnee {
  background-color: #f5f565;
}


.ligne-colonne-selectionnee-modifiable {
  background-color: #fafa87;
}

.ligne-colonne-selectionnee-non-modifiable {
  background-color: #c9fa44;
}
