<div class="d-flex justify-content-center">
  <div class="d-flex flex-column">
    <div class="p-2">
      <app-grille></app-grille>
    </div>
    <div class="p-2">
      <app-selection-chiffres (selection)="onSelection($event)"></app-selection-chiffres>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="p-2">
      <button (click)="creationGrille()">Nouvelle grille</button>
      <select [(ngModel)]="niveau">
        <option [ngValue]="'facile'">Facile</option>
        <option [ngValue]="'moyen'">Moyen</option>
        <option [ngValue]="'difficile'">Difficile</option>
      </select>
    </div>
    <div class="p-2">
      <p>Selection: {{derniereValeurSelectionnee}}</p>
      <p>Nombre de cases vide: {{nombreCaseVide()}}</p>
      <p>Nombre de cases en erreur: {{nombreCaseEnErreur()}}</p>
    </div>
    <div class="p-2" *ngIf="nombreCaseVide()==0">
      Terminé
    </div>
  </div>
</div>
